*{

    box-sizing:border-box;

    font-family:"Segoe UI",sans-serif;

}

h1{

    color:white;

    font-size:50px;

    line-height:1.05;

    margin:24px 0;

}

p{

    color:#B8C3D8;

    font-size:22px;

    line-height:1.8;

    max-width:760px;

    margin:auto;

}